:root {
    --color-brand-01-darkest: #f2eaf6;
    --color-brand-01-darker: #d9c2e5;
    --color-brand-01-dark: #bd94d1;
    --color-brand-01-base: #753399;
    --color-brand-01-light: #5b1c7d;
    --color-brand-01-lighter: #400e58;
    --color-brand-01-lightest: #260538;
    --color-brand-02-base: #b92f72;
    --color-brand-03-base: #ffd464;
    --color-action-default: var(--color-brand-01-dark);
    --color-action-hover: var(--color-brand-01-darker);
    --color-action-pressed: var(--color-brand-01-darkest);
    --color-action-disabled: var(--color-neutral-mid-40);
    --color-action-focus: var(--color-brand-01-darkest);
    --color-feedback-negative-lightest: #4a1512;
    --color-feedback-negative-lighter: #72211d;
    --color-feedback-negative-light: #9b2d27;
    --color-feedback-negative-base: #be3e37;
    --color-feedback-negative-dark: #d58581;
    --color-feedback-negative-darker: #e3aeab;
    --color-feedback-negative-darkest: #f6e6e5;
    --color-feedback-info-lightest: #081536;
    --color-feedback-info-lighter: #0f2557;
    --color-feedback-info-light: #173782;
    --color-feedback-info-base: #0079b8;
    --color-feedback-info-dark: #7996d7;
    --color-feedback-info-darker: #b0c1e8;
    --color-feedback-info-darkest: #e3e9f7;
    --color-feedback-positive-lightest: #002415;
    --color-feedback-positive-lighter: #083a25;
    --color-feedback-positive-light: #0f5236;
    --color-feedback-positive-base: #107048;
    --color-feedback-positive-dark: #41b483;
    --color-feedback-positive-darker: #7ecead;
    --color-feedback-positive-darkest: #def7ed;
    --color-feedback-warning-lightest: #473400;
    --color-feedback-warning-lighter: #705200;
    --color-feedback-warning-light: #d8a20e;
    --color-feedback-warning-base: #efba2a;
    --color-feedback-warning-dark: #f1cd6a;
    --color-feedback-warning-darker: #f7dd97;
    --color-feedback-warning-darkest: #fcf6e3;
    --color-neutral-light-10: #2b2b2b;
    --color-neutral-light-20: #3b3b3b;
    --color-neutral-light-30: #5a5a5a;
    --color-neutral-light-00: #1c1c1c;
    --color-neutral-light-05: #202020;
    --color-neutral-mid-40: #7c7c7c;
    --color-neutral-mid-60: #a1a1a1;
    --color-neutral-dark-70: #c1c1c1;
    --color-neutral-dark-80: #d9d9d9;
    --color-neutral-dark-90: #eeeeee;
    --color-neutral-dark-95: #fbfbfb;
    --color-neutral: var(--color-neutral-dark-70);
    --color-secondary: var(--color-action-default);
    --color-secondary-light-20: var(--color-brand-01-lighter);
    --color-secondary-light-40: var(--color-brand-01-light);
    --color-secondary-dark-20: var(--color-brand-01-dark);
    --color-secondary-dark-40: var(--color-brand-01-darker);
    --color-secondary-dark-80: var(--color-brand-01-darkest);
    --color-black-alpha-10: rgba(255, 255, 255, 0.1);
    --color-black-alpha-15: rgba(255, 255, 255, 0.15);
    --color-black-alpha-30: rgba(255, 255, 255, 0.3);
    --color-primary-light-80: color-mix(in srgb, var(--color-brand-02-base) 80%, black);
    --color-primary-light-95: color-mix(in srgb, var(--color-brand-02-base) 95%, black);
    --color-primary-alpha-50: color-mix(in srgb, var(--color-brand-02-base) 50%, white);
    --color-primary-dark-20: color-mix(in srgb, var(--color-brand-02-base) 20%, white);
    --color-primary-dark-40: color-mix(in srgb, var(--color-brand-02-base) 40%, white);
    --color-secondary-dark-60-alpha-70: color-mix(in srgb, var(--color-neutral-mid-60) 70%, white);
    --color-tertiary-light-90: color-mix(in srgb, var(--color-brand-03-base) 90%, black);
    --color-tertiary-dark-5: color-mix(in srgb, var(--color-brand-03-base) 5%, white);
    --color-page-background-color-page: var(--color-neutral-light-05);
    --color-toolbar-color-badge-text: var(--color-neutral-dark-95);
    --shadow-popover-box-shadow: 0 0 4px 0 var(--color-neutral-light-20);
    --shadow-popover-box-shadow-arrow: -1px -1px 1px 0 var(--color-neutral-light-20);
    --color-calendar-background-color-box-background-range: var(--color-brand-01-lightest);
    --color-stepper-circle-disabled: var(--color-neutral-mid-40);
    --color-stepper-bar-disabled: var(--color-neutral-mid-40);
    --po-tab-smart-active: var(--color-neutral-dark-95);
    --po-tab-smart-background-item-selected: var(--color-brand-01-lighter);
    --po-tab-smart-background-hover: var(--color-brand-01-lightest);
}
