<div class="container d-flex justify-content-center flex-column align-items-center">
  <div class="card p-3 m-5">
    <div class="card-content">
      <div class="card-title">
        <h5>O treino será apagado. <br />Confirma a exclusão?</h5>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn btn-danger m-2 p-2" (click)="delete()">Excluir</button>
          <button class="btn btn-info m-2 p-2" (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
